version: '3.7'

networks:
  prosepetals-network:
    driver: bridge

volumes:
  database-volume:
  logs:

services:
  database:
    image: mysql
    container_name: database-container
    ports:
      - "3305:3306"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: blog_db
      MYSQL_ROOT_HOST: "%"
      MYSQL_USERNAME: root
      MYSQL_PASSWORD: Root@123
    volumes:
      - database-volume:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d
      - ./my.cnf:/etc/mysql/conf.d/my.cnf # Add this line
    networks:
      - prosepetals-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "database"]
      interval: 10s
      retries: 5
    restart: always

  backend:
    image: sejal28/prosepetals-backend
    container_name: prosepetals-backend
    ports:
      - "9596:9595"
    environment:
      MYSQL_URL: jdbc:mysql://database:3306/database?createDatabaseIfNotExist=true&enabledTLSProtocols=TLSv1.2
      MYSQL_USERNAME: root
      MYSQL_PASSWORD: Root@123
    volumes:
      - logs:/logs
    networks:
      - prosepetals-network
    depends_on:
      database:
        condition: service_healthy

  frontend:
    image: sejal28/prosepetals-frontend
    container_name: prosepetals-frontend
    stdin_open: true
    ports:
      - "3000:3000"
    networks:
      - prosepetals-network
    depends_on:
      - backend
