version: '3.9'
networks:
  prosepetals-network:
volumes:
  database-volume:
  logs:
services:
  mydb:
    image: mysql:latest
    healthcheck:
      test: [ "CMD","ls" ]
    container_name: database-container
    environment:
      MYSQL_ROOT_PASSWORD: sejal
      MYSQL_DATABASE: blog_db
    volumes:
      - database-volume:/var/lib/mysql
    networks:
      - prosepetals-network
  prosepetals-backend:
    image: sejal28/prosepetals-backend
    container_name: prosepetals-backend
    ports:
      - "9595:9595"
    environment:
      MYSQL_URL: jdbc:mysql://mydb:3306/blog_db?createDatabaseIfNotExist=true
      MYSQL_USERNAME: sejal
      MYSQL_PASSWORD: sejal
    volumes:
      - logs:/logs
    networks:
      - prosepetals-network
    depends_on:
      mydb:
        condition: service_healthy
  prosepetals-frontend:
    image: sejal28/prosepetals-frontend
    container_name: prosepetals-frontend
    stdin_open: true
    ports:
      - "3000:3000"
    networks:
      - prosepetals-network
    depends_on:
      - prosepetals-backend
