/* NavbarComponent.css */
.navbar-dark-gray {
  background-color: #595a5c; /* Dark gray color */
}

.navbar-scrolled {
  background-color: gray; /* Semi-transparent black */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.navbar-dark-gray .nav-link {
  color: #fff !important; /* Change the text color to white */
  font-weight: bold !important; /* Change the font weight */
  padding: 0.5rem 1rem !important; /* Adjust the padding */
  margin-right: 10px !important; /* Add margin between links */
}

.navbar-dark-gray .nav-link:hover {
  color: #b9b5b5 !important;
  text-decoration: underline !important;
  text-decoration-color: #fff !important; /* Change underline color to white */
  text-decoration-thickness: 3px;
}
