.navbar-scrolled {
    background-color: gray; /* Semi-transparent black */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
.nav-link {
  color: #333; /* Change the text color */
  font-weight: bold; /* Change the font weight */
  padding: 0.5rem 1rem; /* Adjust the padding */
  margin-right: 10px; /* Add margin between links */
}
.nav-link:hover {
  color: #555; 
  text-decoration: underline; 
  text-decoration-color: #555 ;
  text-decoration-thickness: 3px;
}
