.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .custom-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #555;
  }
  
  .card-img-top {
    max-height: 200px;
    object-fit: cover;
  }
  
  
  /* Define styles for card containers */
.card-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Style the card content */
.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

/* Style the card title */
.card-title {
  font-size: 1.2rem; /* Larger font size for the title */
  font-weight: bold; /* Bold font weight for emphasis */
  margin-bottom: 10px;
}

/* Style the card text */
.card-text {
  font-size: 1rem; /* Smaller font size for the content */
  text-align: left; /* Align content to the left */
}

/* Style the button container */
.button-container {
  margin-top: auto; /* Push button container to the bottom */
  display: flex;
  justify-content: space-between;
}
